{{define "content"}}
<style>
  .todo-list-item {
    padding: 10px 5px;
    cursor: pointer;
  }

  .todo-list-item.selected {
    background-color: rgba(0, 0, 0, 0.1);
    color: deepskyblue;
  }
</style>
<div class="container mt-4">
  <div class="columns">
    <div class="column">
      <h1 class="title">Lists</h1>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input id="newListTitle" class="input" type="text" placeholder="Type a list title..." />
        </p>
        <p class="control">
          <a class="button is-primary" id="createListBtn">
            New List
          </a>
        </p>
      </div>
      <div id="todosList" class="mt-2">
        {{range .Lists}}
        <div class="todo-list-item selected" data-id="{{.ID}}">
          <div class="is-flex is-align-items-center">
            <span class="is-flex-grow-1 ml-1">{{.Title}}</span>
            <button class="button is-small is-danger is-light delete-todo-btn" data-id="{{.ID}}">
              ✕
            </button>
          </div>
        </div>
        {{end}}
      </div>
    </div>
    <div class="column is-three-fifths">
      <div class="todo-list-detail is-hidden">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input id="newTodoDescription" class="input" type="text" placeholder="Type a todo..." />
          </p>
          <p class="control">
            <a class="button is-info" id="createTodoBtn">
              Create
            </a>
          </p>
        </div>
        <div id="todosList" class="mt-2">
          {{range .Todos}}
          <div class="box" data-id="{{.ID}}">
            <div class="is-flex is-align-items-center">
              <input class="check-completed" type="checkbox" data-id="{{.ID}}" data-description="{{.Description}}"
                {{with .Completed}}checked{{end}} />
              <span class="is-flex-grow-1 ml-1">{{.Description}}</span>
              <button class="button is-small is-danger is-light delete-todo-btn" data-id="{{.ID}}">
                ✕
              </button>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const newTodoDescription = document.getElementById("newTodoDescription");
  const createTodoBtn = document.getElementById("createTodoBtn");
  const todosList = document.getElementById("todosList");
  const todosCheckboxes = document.querySelectorAll(".check-completed");
  const deleteTodoBtn = document.querySelectorAll(".delete-todo-btn");

  async function submitTodo(newTodo) {
    const res = await fetch("/api/todos", {
      method: "POST",
      body: JSON.stringify(newTodo),
      headers: {
        'Content-Type': 'application/json'
      }
    });
    const todoJSON = await res.json();
    newTodoDescription.value = "";

    insertNewTodoElement(todoJSON);
  }

  async function saveTodo(todo) {
    const res = await fetch(`/api/todos/${todo.id}`, {
      method: "PUT",
      body: JSON.stringify(todo),
      headers: {
        'Content-Type': 'application/json'
      }
    });
    const todoJSON = await res.json();
  }

  async function deleteTodo(todo) {
    const res = await fetch(`/api/todos/${todo.id}`, {
      method: "DELETE",
      headers: {
        'Content-Type': 'application/json'
      }
    });
    const todoElem = document.querySelector(`.box[data-id="${todo.id}"]`);
    if (todoElem) {
      todosList.removeChild(todoElem);
    }
  }

  function insertNewTodoElement(todo) {
    const todoHTML = `
      <div class="box" data-id="${todo.id}">
        <div class="is-flex is-align-items-center">
          <input
            class="check-completed"
            type="checkbox"
            data-id="${todo.id}"
            data-description="${todo.description}"
            ${todo.completed ? "checked" : ""} />
          <span class="is-flex-grow-1 ml-1">${todo.description}</span>
          <button
            class="button is-small is-danger is-light delete-todo-btn"
            data-id="${todo.id}">
            ✕
          </button>
          </div>
      </div>
    `;
    todosList.innerHTML += todoHTML;
    addEventListenersCheckboxes();
    addEventListenersDeleteBtns();
  }

  function addEventListenersCheckboxes() {
    const todosCheckboxes = document.querySelectorAll(".check-completed");
    Array.from(todosCheckboxes).forEach(checkbox => {
      checkbox.addEventListener("change", (e) => {
        const input = e.target;
        const todoID = input.dataset.id;
        const todoDescription = input.dataset.description;
        const value = input.checked;

        const todo = {
          id: todoID,
          completed: value,
          description: todoDescription
        };

        saveTodo(todo);
      });
    });
  }

  function addEventListenersDeleteBtns() {
    const deleteTodoBtn = document.querySelectorAll(".delete-todo-btn");
    Array.from(deleteTodoBtn).forEach(btn => {
      btn.addEventListener("click", (e) => {
        const btn = e.target;
        const todoID = btn.dataset.id;

        const todo = {
          id: todoID
        };

        deleteTodo(todo);
      });
    });
  }

  createTodoBtn.addEventListener("click", (e) => {
    const newTodo = {
      description: newTodoDescription.value
    };

    submitTodo(newTodo);
  });

  addEventListenersCheckboxes();
  addEventListenersDeleteBtns();
</script>
{{end}}